.project
*.log
*/node-log.log
game-server/logs/*
!.gitignore
game-server/node_modules/*
web-server/node_modules/*
game-server/app/temp/*.txt
.project
.settings/
**/*.svn
*.svn
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
.idea
*.tern*
game-server/config/certs/*.p12
